logging:
  level:
    root: INFO
    com.example.inventory: DEBUG

spring:
  application:
    name: msvc-inventory
  config:
    import: optional:configserver:http://localhost:8888
  data:
    redis:
      host: localhost
      port: 6379
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest